
*{
    box-sizing: border-box;
    
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

body {
    
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    overflow: hidden;
    
}
#main{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow-y: scroll;
    background-color: #00000036;
    position: relative;
    z-index: 99;
}

.bgimg{
    width: 100%;
    height: 100%;
    z-index: -2;
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
ul{
    cursor: pointer;
}
.list-group-item{
    background-color:#d5d3d336;
}
.list-group-item:hover{
    background-color: rgba(46, 46, 46, 0.322);
}

input[type="text"]{
    background-color: #d5d3d336;
}

input[type="text"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  background-color: rgba(46, 46, 46, 0.322);
  outline: 0 none;
}
input[type="text"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {   
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    background-color: rgba(46, 46, 46, 0.322);
  outline: 0 none;
  cursor: pointer;
}